body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
}

p {
    width: 750px;
}

li {
    width: 750px;
}

.wrapper {

    display: flex;
    flex-direction: row-reverse;
    background: #ffffff;
    /* width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

/* Main content */

.main-content {
    padding: 70px;
    padding-bottom: 50px;
    width: 100%;
}

/* About me */

/* padding bottom/top - внутрішній відступ */
/* marginal bottom/top - зовнішній відступ */

.my-profession {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    margin: 0 0 28px 0;
}

.intro {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about-me-container {
    margin-bottom: 64px;
}

/* Projects */

.main-content-tittle {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 8px 0;
}

.project-item {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.project-list {
    padding: 0 0 0 14px;
    margin: 0;
}

.projects-container {
    margin-bottom: 48px;
}

.project-i-l-wrapper {
    display: flex;
    align-items: center;
}

.project-i-link {
    color: #6D9BF5;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px;
    text-decoration-line: underline;
    padding: 10px;
}

.git-icon-i {
    text-decoration: none;
    padding: 10px;
}

.project-i-git {
    stroke: #595959;
    fill: #595959;
}

.project-i-desc {
    margin-top: 10px;
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.project-i-role {
    color: #ed7e1d;
}

/* Work experience */

.work-exp-container {
    margin-bottom: 44px;
}

.work-exp-position {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.work-exp-place {
    margin: 16px 0 16px 0;
}

.work-exp-company {
    color: #6D9BF5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.work-period {
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 12px 0 8px 0;
}

.sign {
    color: #000000;
}

.work-exp-list {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0 0 0 16px;
}

/* Education */

.educ-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.uni {
    color: #6D9BF5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0 12px 0;
}

.faculty {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0 12px 0;
}

.educ-period {
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 12px 0;
}

/* Sidebar */

.sidebar {
    width: 370px;
    flex-shrink: 0;
    background: #E0EBFE;
}

.img-container {
    border: 1px solid transparent;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 35px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.my-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts-container {
    margin: 48px 0 0 40px;
}

.tech-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-tittle {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: #161D2A;
    margin-bottom: 20px;
}

.socials {
    stroke: #595959;
    fill: #595959;
    margin-right: 10px;
}

.contacts-item {
    margin: 0;
    margin-top: 5px;
}

.location {
    font-size: 14px;
    color: #161D2A;
}

.contacts {
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Skills */

.skills-list {
    margin: 0;
    margin-left: -20px;
}

.skills-list-item {
    color: #6D9BF5;
}

.skills-list-text {
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.soft-skills-container {
    margin: 48px 0 0 40px;
}

.lang-container {
    margin: 48px 0 0 40px;
}

.lang-list {
    margin: 0;
    margin-left: -20px;
}

.lang-list-item {
    color: #6D9BF5;
}

.lang-list-text {
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}